<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS (load bootstrap from a CDN) -->
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
 <title>Edit</title>
<link rel="stylesheet" href="main.css">
</head>
<style>
    body{
     background-color: wheat;
     text-align: center;
     
 }
 #form{
     color: rgb(206, 33, 33);
     border: solid gray 1px;
     margin: 0 auto; 
     width:100%;
     display: inline-block;
     text-align: center;
     border-radius: 5px;
     background-color: gold;
     padding: 150px;
 }
 
   input {
     text-align: right;
     width: 30%;
     padding-right: 10px;
    }
    #em{
     text-align: right;
     width: 30%;
     padding-right: 20px;
    }
    
 #btn{
     color: black;
     background-color: brown;
     padding: 5px;
     margin-left: 4%;
     text-align: center;
     width: 10%;
 
 }
 h1{
     text-align: center;
     color: brown;
 }
 </style>
 <h1 > EDIT FORM</h1>
<body>
    <form method="post" action="/update/">
        <p>
            <label >Id</label>
            <input type="number" name="id">
         </p>
        
         <p>
            <label >Citation</label>
            <input type="text" name="citation">
         </p>
         <p>
            <label >Auteur</label>
            <input type="text" name="auteur">
         </p>
         <p>
            <label >Source</label>
            <input type="text" name="source">
         </p>
         
         <input type="submit" name="Edit" id="btn" value="Edit">
          
         </form>
</body>
</html>