<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home</title>
</head>

  <body>
      <style>
    body{
        background-color: wheat;
        text-align: center;
        
    }
    h2{
        text-align: center;
        color: chocolate;
    }
    h5{
        color: coral;
    }
    h6{
        color: darkgoldenrod;
    }
    

</style>
  <h2>QUOTES WORLD</h2>
  <br><br>
  
  <h4>Welcome Everyone</h4>
<br><br>
<br><br>
<h5>Here is our QUOTES</h5>
<br><br>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nilson Mandela</h5>
        <h6 class="card-title">Pintrest Quote</h6>
        <p class="card-text">A winner is a dreamer who never give up</p>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Anonymous</h5>
        <h6 class="card-title">Quotling.com</h6>
        <p class="card-text">Trust that when the answer is no there is a yes down the road</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stephanie Benett Henry</h5>
        <h6 class="card-title">livelifehappy.com</h6>
        <p class="card-text">Life is tough my darling but so are you</p>
      </div>
    </div>
   
  </div>   
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gene Amole</h5>
        <h6 class="card-title">TheMindsetJournal</h6>
        <p class="card-text">The sunrise of course doesnt care if we watch it or not it will keep on being beautiful even if we dont look at it</p>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Samouel</h5>
        <h6 class="card-title">Pintrest Quote</h6>
        <p class="card-text">Leave a little sparkle wherever you go</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nina Servatchi</h5>
        <h6 class="card-title">lessonlearninlife.com</h6>
        <p class="card-text">Stop thinking to much it's alright not to know the answers they will come you when you lest expect it</p>
      </div>
    </div>
    
  </div>   
</body>
</html>